* {
    margin: 0;
    padding: 0;
}

form {
    background: #89c82e;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    width: 400px;
    border-radius: 15px;
    margin: 25px auto 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 5px;
}

.form__item {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.form__item > div {
    width: 90%;
    display: flex;
    display: flex;
    flex-direction: column;
}

.form__item > div > p {
    margin: 0;
    padding: 0;
    color: red;
}

label {
    color: #3c3c3c;
    width: 50px;
}

input {
    width: 100%;
    display: flex;
}

button {
    background: #e70064;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
}

.hidden {
    visibility: hidden;
}

.validInput {
    border: 1px solid green;
}

@media only screen and (max-width: 600px) {
    form {
        width: calc(100% - 10px);
    }
}
